<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav') %>

    <h1> Author Update </h1>

    <form action="/editAuthor" method="POST">
        <input type="hidden" name="authorId" value="<%= authorInfo[0].authorId %>">
        <label> First Name: 
            <input type="text" name="firstName" value="<%= authorInfo[0].firstName %>"> <br> 
        </label>
        <label> Last Name: 
            <input type="text" name="lastName" value="<%= authorInfo[0].lastName %>"> <br> 
        </label>
        DOB:
        <input type="date" name="dob" pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD" value="<%= authorInfo[0].dob.toISOString().slice(0, 10) %>"> <br>
        Sex: <%= authorInfo[0].sex %>
        <input 
        <% if(authorInfo[0].sex == "F"){ %>
            checked
        <% } %>
        type="radio" name="sex" value="F"> Female
        <input 
        <% if(authorInfo[0].sex == "M"){ %>
            checked
        <% } %>
        type="radio" name="sex" value="M"> Male
        <br>
        Bio:
        <textarea name="bio"><%= authorInfo[0].biography %></textarea>

        <button>Edit Author</button>
    </form>

    <script src="/js/author.js"></script>
</body>
</html>